<html>
	<head>
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	</head>
	<body>
		<h1>AJAX posting...</h1>
		<script>
				$.ajax({
					type: "POST",
					url: "/employee",
					data: JSON.stringify({
											"EmpID":7,
											"Name":"Dona Wills",
											"EmpCode":"EMP010",
											"Salary":88888
										}),
					dataType: 'json',
					contentType: 'application/json'
				});

			</script>
	</body>
</html>